@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    color: #2b2b2b;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}
ul li,
ol li {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    display: block;
    border: none;
    background-color: transparent;
    transition: .4s;
    cursor: pointer;
}
.button-primary,
.button-secondary {
    padding: 10px 5px;
    border-radius: 4px;
    color: #f8f8f8;
    font-size: 17px;
    font-weight: 700;
    background-color: #20bb92;
}
.button-primary:hover {
    background-color: #25aa86;
}
.button-primary:active {
    background-color: #209274;
}
.button-secondary {
    border: 1px solid #209274;
    color: #3e3e3e;
    background-color: transparent;
}
.button-secondary:hover {
    background-color: #e8fff2;
}
.button-secondary:active {
    background-color: #bfffdb;
}
.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
header {
    background-color: #20bb92;
}
.header-wrap {
    padding: 10px 0;
    color: #3e3e3e;
    text-align: center;
}
.header-wrap h1 {
    line-height: 0.9;
}
.header-wrap span {
    font-size: 25px;
}
main {
    padding: 10px 0;
}

/* Tools */
.tools {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}
.tools-add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.tools-add-btn span {
    margin-right: 5px;
    font-size: 18px;
}

/* Search */
.search-wrap {
    position: relative;
    margin-left: 25px;
}
.search-wrap span {
    position: absolute;
    top: 50%;
    left: 6px;
    font-size: 18px;
    opacity: 0.4;
    transform: translateY(-50%);
}
.search-wrap #search-field {
    min-height: 0 !important;
    margin: 0 !important;
    padding: 5px 25px 5px 25px;
    font-size: 15px;
    line-height: 1;
}
.search-wrap button {
    position: absolute;
    top: 50%;
    right: 10px;
    display: none;
    color: #5a5a5a;
    transform: translateY(-50%);
    cursor: pointer;
}
.search-wrap button:hover {
    color: #209274;
}
.sort-wrap {
    margin: 0 20px 0 auto;
}
.sort-wrap span {
    margin-right: 15px;
    transition: .4s;
    cursor: pointer;
}
.sort-wrap .arrow {
    margin-left: 3px;
    color: #20bb92;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.05;
}
.sort-wrap span:hover,
.filter-btn:hover {
    color: #25aa86;
}
.sort-wrap span:active,
.filter-btn:active {
    color: #209274;
}
.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    height: 25px;
    color: #6d6d6d;
    transition-duration: 0s;
}
.filter-btn_active {
    padding: 15px 8px;
    border-radius: 4px;
    color: #f8f8f8;
    background-color: #20bb92;
}
.filter-btn_active:hover,
.filter-btn_active:active {
    background-color: #20bb92 !important;
    color: #f8f8f8 !important;
}
.filter-btn b {
    display: none;
    margin-left: 2px;
    font-size: 15px;
}
.filter-btn_active span {
    font-size: 18px;
}
.filter-btn_active b {
    display: block;
}
.filter-wrap {
    position: absolute;
    z-index: 5;
    top: 35px;
    right: -10px;
    display: none;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    border: 1px solid #209274;
    border-radius: 4px;
    background-color: #fafafa;
}
.filter-wrap h3 {
    margin-bottom: 15px;
    color: #3e3e3e;
    text-align: center;
}
.filter-wrap label {
    position: relative;
    align-self: baseline;
    margin-bottom: 15px;
    padding-left: 10px;
    transition: .4s;
    cursor: pointer;
}
.filter-wrap label::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 5px;
    width: 12px;
    height: 12px;
    border: 1px solid #209274;
    border-radius: 2px;
    transform: translateY(-50%);
}
.filter-wrap span {
    position: absolute;
    top: 50%;
    left: 5px;
    display: none;
    border-radius: 2px;
    color: #fafafa;
    font-size: 12px;
    font-weight: 700;
    transform: translateY(-50%);
}
.filter-wrap label input {
    visibility: hidden;
}
.filter-wrap label input:checked+span {
    display: block;
    background-color: #209274;
}
.filter-wrap label:hover {
    color: #209274;
}
.filter-wrap-btn {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.filter-wrap-btn button {
    width: 45%;
    padding: 7px 5px;
}

/* Table */
.task-wrap {
    width: 100%;
    margin: 30px auto 0;
}
.task-wrap table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.task-wrap th,td {
    padding: 10px;
    border: 1px solid #2b2b2b;
}
.task-wrap td {
    line-height: 1.5;
}
.id-task-header,
.id-task {
    display: none;
}
.task-status {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 10px 2px 0;
    border-radius: 50%;
    background-color: #a5a5a5;
    cursor: pointer;
}
.task-status_complete {
    background-color: #20bb92;
}
.action-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-list li {
    margin-right: 12px;
    transition: .4s;
    cursor: pointer;
}
.action-list li:last-child {
    margin-right: 0;
}
.action-list li span {
    margin-right: 2px;
    opacity: 0.8;
    font-size: 17px;
    vertical-align: text-top;
}
.action-list li:hover {
    color: #209274;
}
.action-info {
    position: relative;
}
.action-info > i {
    position: absolute;
    z-index: 3;
    top: -15px;
    left: -185px;
    width: 180px;
    display: block;
    padding: 5px;
    border: 1px solid #20bb92;
    border-radius: 4px;
    opacity: 0;
    font-size: 15px;
    text-align: center;
    background-color: #fff;
    transition: .4s;
}
.action-info:first-child {
    cursor: default !important;
    color: #2b2b2b !important;
}
.action-info span {
    cursor: pointer !important;
}
.action-info span:hover {
    color: #209274 !important;
}
.action-info span:hover + i {
    opacity: 1;
}

/* Pagination */
.paging-wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.paging-wrap button {
    margin-right: 4px;
    padding: 2px 6px;
    font-size: 15px;
    cursor: pointer;
}
.paging-wrap button:not(.paging-btn-active) {
    color: #2b2b2b;
    font-weight: 400;
    background-color: transparent;
}
.paging-wrap button:not(.paging-btn-active):hover {
    color: #209274;
}
.paging-wrap button:last-child {
    margin-right: 0;
}
.paging-btn-active:hover,
.paging-btn-active:active {
    background-color: #20bb92 !important;
    cursor: default !important;
}
.extra-pagination-next,
.extra-pagination-prev {
    color: #3e3e3e;
    transition: .4s;
    cursor: pointer;
}
.extra-pagination-next:hover,
.extra-pagination-prev:hover {
    color: #209274;
}

/* Alert */
.alert {
    position: fixed;
    z-index: -1;
    top: 47px;
    right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #158e49;
    border-radius: 4px;
    opacity: 0;
    background-color: #8dfdb8;
}
.alert span,
.alert button {
    color: #3e3e3e;
    font-size: 18px;
}
.alert p {
    margin: 0 10px 0 5px;
}
.alert button:hover {
    color: #1a6954;
}
.unsuccess {
    background-color: #fbaeae;
}

/* Loader */
.loader {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.75);
}
.loader::before {
    position: absolute;
    z-index: 25;
    content: '';
    top: 45%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid #1c9851;
    border-top-color: transparent;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: 0.8s startLoader linear infinite;;
}
.empty-data {
    position: absolute;
    top: 80px;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 350px;
    text-align: center;
    transform: translateX(-50%);
}
.empty-data span {
    color: #2e8c6f;
    font-size: 38px;
}
.empty-data p {
    margin-top: 10px;
    font-size: 25px;
}
.empty-data a {
    width: 150px;
    margin: 40px auto;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}

/* Modal */
.overlay {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/65%);
}
.modal {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 500px;
    padding: 30px;
    border-radius: 4px;
    background-color: #fafafa;
    transform: translateX(-50%);
}
.modal h3 {
    margin-bottom: 15px;
    color: #3e3e3e;
    font-size: 24px;
    text-align: center;
}
.modal label {
    display: block;
    margin-bottom: 20px;
    padding-left: 5px;
    color: #209274;
    font-size: 18px;
    font-weight: 700;
}
.modal .edit-radio {
    position: relative;
    display: inline-block;
    margin: 0 20px 0 0;
    padding-left: 10px;
    font-weight: 500;
    cursor: pointer;
}
.edit-radio::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 8px;
    width: 16px;
    height: 16px;
    border: 2px solid #209274;
    border-radius: 50%;
    transform: translateY(-50%);
}
.edit-radio span {
    position: absolute;
    top: 50%;
    left: 12px;
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #209274;;
    transform: translateY(-50%);
}
.edit-radio input {
    visibility: hidden;
}
.edit-radio input:checked+span {
    display: block;
}

.modal textarea,
.search-wrap input {
    display: block;
    width: 100%;
    min-height: 80px;
    margin: 5px 0 0 0 !important;
    padding: 7px;
    border: 1px solid #209274;
    border-radius: 2px;
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    resize: vertical;
}
.modal textarea:focus,
.search-wrap input:focus {
    border-color: #11664f;
}
.error-message {
    display: none;
    margin-left: 10px;
    color: #f16767;
    font-size: 13px;
    font-weight: 400;
}
.field-error {
    border-color: #f16767 !important;
}
.modal-btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
}
.modal-btn-wrap button {
    width: 100px;
}
.modal-btn-wrap button:first-child {
    margin-right: 5px;
}

/* Modal remove */
.modal-remove {
    width: 420px;
}
.modal-remove-text {
    font-size: 17px;
    line-height: 1.6;
}
.modal-remove-text span {
    overflow: hidden;
    display: inline-block;
    max-width: 90%;
    color: #209274;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.modal-remove .modal-remove-btn {
    margin-top: 30px;
}
.modal-remove-btn .button-primary {
    background-color: #f16767;
}
.modal-remove-btn .button-primary:hover {
    background-color: #f35c5c;
}
.modal-remove-btn .button-primary:active {
    background-color: #f65555;
}

/* Media queries */
@media(max-width: 768px) {
    .header-wrap h1 {
        font-size: 24px;
    }
    .tools {
        margin: 5px 0;
    }
    .tools {
        flex-wrap: wrap;
    }
    .tools-add-btn {
        width: 130px;
    }
    .search-wrap {
        max-width: 210px;
        margin-left: 10px;
    }
    .filter-btn,
    .sort-wrap {
        margin-top: 5px;
    }
    .sort-wrap {
        margin-right: 2px;
    }
    .sort-wrap span:hover {
        color: #2b2b2b;
    }
    .filter-wrap {
        top: 40px;
        right: 0;
    }
    .task-wrap {
        margin-top: 7px;
    }
    .action-list {
        flex-direction: column;
    }
    .action-list li {
        margin-bottom: 5px;
    }
    .action-list li:last-child {
        margin-bottom: 0;
    }
    .paging-wrap {
        margin: 15px 0;
    }
    .paging-wrap button {
        margin-right: 10px;
        font-size: 17px;
    }
    .alert {
        top: 40px;
        right: 10px;
    }
    .modal {
        width: 410px;
        padding: 20px;
    }
    .modal h3 {
        font-size: 22px;
    }
}
@media(max-width: 420px) {
    .tools-add-btn {
        width: 110px;
    }
    .search-wrap {
        max-width: 170px;
    }
    .task-wrap th, td  {
        padding: 5px;
        font-size: 15px;
        line-height: 1.2;
    }
    .modal {
        width: 95%;
        padding: 15px;
    }
    .modal .edit-radio {
        margin-bottom: 10px;
    }
}

/* Animations*/
@keyframes openModal {
    0% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        opacity: 1;
        z-index: 50;
    }
}
@keyframes closeModal {
    0% {
        opacity: 1;
        z-index: 50;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
@keyframes showAlert {
    0% {
        opacity: 0.9;
        z-index: 100;
    }
    80% {
        opacity: 0.9;
        z-index: 100;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
@keyframes startLoader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}